<ion-content class="animated fadeIn loginBackground"  *ngIf="login">

  <div class="center mg-top-10-percent">
    <img src="./assets/imgs/brand-logo.png" class="logo-white-login">
  </div>

  <div class="mg-top-15">
    <p class="Meu center no-padding">CabeloMeu</p>
    <h2 class="mimi bold center">
     Adaptando-se aos seus fios
     </h2>
    <p class="snow eggshell center light no-margin mg-top-5">
      Entre com sua conta para continuar
    </p>
  </div>

  <div class="mg-top-5 customInputsPadding">
    <form [formGroup]="form" (ngSubmit)="login()" class="">
      <ion-item class="transparent-bg no-padding">
        <ion-label floating class="eggshell">
         <ion-icon name="mail" item-start class="text-primary"></ion-icon>
          <b>E-mail</b>
        </ion-label>
        <ion-input formControlName="email" type="email" class="eggshell bold"></ion-input>
      </ion-item>
      <ion-item class="transparent-bg no-padding mg-top-20">
        <ion-label floating class="eggshell">
            <ion-icon name="lock" item-start class="text-primary"></ion-icon>
            <b>Senha</b>
        </ion-label>
        <ion-input formControlName="pass" type="password" class="eggshell bold"></ion-input>
      </ion-item>
      <div class="loginCta mg-top-40">
        <button class="preto no-padding btnLogin padding-top-5" ion-button clear [disabled]="!form.valid" type="submit">
         <b>Entrar</b>
        </button>
      </div>
      </form>
      <div class="mg-top-20 font-18 center mimi" >
        <small>Não tem uma conta? </small><a (click)="createAccount()"color="imperial">Clique aqui</a>
      </div>
      <div class="mg-top-10 center mimi bold" (click)="exibirPassword()">
        Esqueceu a senha?
      </div>
  </div>
</ion-content>


<ion-content padding class="animated fadeIn loginBackground" *ngIf="password">

  <div class="center mg-top-10-percent">
    <img src="./assets/imgs/brand-logo.png" class="logo-white-login">
  </div>

  <div class="mg-top-10-percent">
    <h2 class="mimi bold center">
      Recuperação de senha
    </h2>
    <p class="snow eggshell center light no-margin mg-top-5">
      Digite seu email para redefinir sua senha 
    </p>
  </div>

  <div class="mg-top-20 customInputsPadding">
    <form [formGroup]="formEmail" (ngSubmit)="passwordReset()" class="">
      <ion-item class="transparent-bg no-padding">
        <ion-label floating class="eggshell">
          <ion-icon name="mail" item-start class="text-primary"></ion-icon>
          <b>E-mail</b>
        </ion-label>
        <ion-input formControlName="email" type="email" class="eggshell bold"></ion-input>
      </ion-item>

      <div class="loginCta mg-top-40">
        <button class="preto no-padding btnLogin padding-top-5" ion-button clear [disabled]="!formEmail.valid" type="submit">
          <b>Redefinir</b>
        </button>
      </div>
    </form>
    <div class="mg-top-20 font-18 center mimi bold" (click)="exibirLogin()">
        <p><ion-icon name="ios-arrow-back" danger color="white"></ion-icon> Voltar</p>
    </div>
  </div>
</ion-content>