page-login {
    .loginBackground {
        background-image: url('../assets/imgs/bg-login.png');
        background-size: cover;
        background-position: center;
    
      }

    .customInputsPadding {
        padding: 30px
    }

    //Input custom color and line 
    .item-ios.item-block .item-inner, .item-md.item-block .item-inner {
        border-bottom: 1.5px solid $eggshell
    }

    //Login CTA
    .loginCta {
        width: 100%;
        height:40px;
        padding: 5px 0px;
        text-align: center;
        background-color: $mimi;
        color: $preto !important;
        border-radius: 100px;
        border: 1.5px solid $eggshell;
    }
    .btnLogin {
        height: 20px
    }
}
