@import url('https://fonts.googleapis.com/css?family=Questrial');
page-detalhes-produto {
    .container1{
        max-width:50%;
        width: auto;
        margin-left: 75px;
    }
    .titulo{
        font-family: 'Questrial', sans-serif;
        font-size:17px;
        color:$imperial;
      }
      .estrelas{
        font-family: 'Questrial', sans-serif;
        font-size:17px;
        color:yellow;
      }
      .options{
        margin-left:170px;
        margin-right:-40px;
      }
      .nome{
        margin-right:50px;
        margin-left:60px;
      }

}
