<!--
  Generated template for the DetalhesProdutoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="imperial">
    <ion-title>{{ produtos.nome }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card *ngIf="listagem" >
    <img class="container1" src={{produtos.imgProduto}}>
    <ion-card-content>
      <ion-card-title class="center nome Logotipo bold">
        {{ produtos.nome }}
        <ion-icon class="options"color="imperial" (click)="openOptions()" item-end name="more" top></ion-icon>
      </ion-card-title>
      <small class="titulo bold">Descrição: </small>
      <p>{{ produtos.obs }}</p>

      <small class="titulo bold">Marca: </small>
      <p>{{ produtos.marca }}</p>

      <small class="titulo bold">Tipo: </small>
      <p>{{ produtos.tipo }} </p>

       <!--<div class="mg-left-50-percent">
       <button ion-button icon-start (click)="AlertConfirm()" outline color="imperial">
          <ion-icon name="trash" color="imperial"></ion-icon>
          Excluir
        </button>
      </div>-->
    </ion-card-content>
  </ion-card >
  <ion-card *ngIf="editar" class="tamanhoAuto">
        <img class="container1" src={{produtos.imgProduto}}>
        <ion-card-content>
          <ion-card-title class="center nome Logotipo bold">
            <ion-input class="" value='{{ produtos.nome }}' [(ngModel)]='produtos.nome'></ion-input>
          </ion-card-title>
          
          <small class="titulo bold">Descrição: </small>

          <ion-textarea class="" value='{{ produtos.obs }}' [(ngModel)]='produtos.obs'></ion-textarea>
          <hr class="no-padding">
          <small class="titulo bold">Marca: </small>
          <ion-input class="" value='{{ produtos.marca }}' [(ngModel)]='produtos.marca'></ion-input>
          <hr class="no-padding">
        
          <small class="titulo bold">Tipo: </small>
        <ion-item>
          <ion-label>Selecione o tipo:</ion-label>
          <ion-select formControlName="tipo" [(ngModel)]="produtos.tipo">
            <ion-option value="Hidratação">Hidratação</ion-option>
            <ion-option value="Nutrição">Nutrição</ion-option>
            <ion-option value="Reconstrução">Reconstrução</ion-option>
            <ion-option value="Finalização">Finalização</ion-option>
            <ion-option value="Outros">Outros</ion-option>
          </ion-select>
        </ion-item>
        
        </ion-card-content>
        <button (click)="Atualizar(produtos)" type="submit" color="imperial"  class="btn-imperial">Atualizar <ion-icon color="mimi" item-end
            name="checkmark" top></ion-icon></button>
        <br/>
        <br /><br />
  </ion-card>
</ion-content>
