<ion-header *ngIf="inicio">
<ion-navbar color="imperial">
  <ion-title>Minha lista</ion-title>
  <br>
    <ion-searchbar  placeholder="Explore receitas"></ion-searchbar>
</ion-navbar>

<ion-toolbar >
  <ion-segment color="imperial">
    <ion-segment-button value=""  (click)="abreProdutos()">
      Produtos
    </ion-segment-button>
    <ion-segment-button value='ListarNotasPage'>
      Notas
    </ion-segment-button>
  </ion-segment>
</ion-toolbar>
</ion-header>

<ion-content  padding>
  <ion-list padding *ngFor="let item of anotacoes">
    <div *ngIf="inicio">
      <ion-icon class="options tamanhoIcon btnEnd" color="imperial" (click)="openOptions(item)"  name="more" >
      </ion-icon>
      <small class="Logotipo">{{ item.titulo }}</small>
      <p>Data do cadastro: {{ item.date }}</p>
        <hr>
    </div>
      <div *ngIf="receita">
        <p class="Logotipo">{{item.nota}}</p>
        <button padding class="transparent-bg" color="secondary" full (click)="FecharNota()">
          Fechar <ion-icon name="close"></ion-icon></button>
      </div>
   </ion-list>

</ion-content>
<ion-content *ngIf="listagem"  padding>
  <br/>
  <br />
  <ion-card>
    <ion-list padding *ngFor="let item of anotacoes">
      <small class="Logotipo">{{ item.titulo }}</small>
      <p>Data do cadastro: {{ item.date }}</p>

      <hr>
      <p class="Logotipo text-justify">{{ item.nota }}</p>
      <div padding>
        <ion-icon name="md-pricetags" item-start><small slot="start" item-start> Pontas duplas:</small></ion-icon>
        <ion-checkbox class=" no-padding btnEnd" disabled="true" checked="{{item.pontas}}" slot="end"></ion-checkbox>
        <ion-icon name="md-pricetags" item-start><small> Oleosidade:</small></ion-icon>
        <ion-checkbox class=" no-padding btnEnd" disabled="true" checked="{{ item.oleosidade }}" slot="end">
        </ion-checkbox>
        <ion-icon name="md-pricetags" item-start><small> Definição: </small></ion-icon>
        <ion-checkbox class=" no-padding btnEnd" disabled="true" checked="{{ item.definicao }}" slot="end">
        </ion-checkbox>
        <ion-icon name="md-pricetags" item-start><small> Volume</small></ion-icon>
        <ion-checkbox class=" no-padding btnEnd" disabled="true" checked="{{ item.volume }}" slot="end"></ion-checkbox>
      </div>
    </ion-list>
      <div class="mg-top-10">
        <button ion-button color="secondary" (click)="Inicio()" full>Voltar</button>
      </div>
    <br/>
    <br />
  </ion-card>
</ion-content>