<ion-header>
  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Perfil</ion-title>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="user">
  <!-- REFRESH -->
  <ion-refresher (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <div class="no-padding">
    <img *ngIf="modal" src="assets/imgs/close-black.png" class="close" (click)="close()">
  </div>

  <div class="padding-20 back">
    <div class="center">
      <img *ngIf="!user.avatar" class="avatarPos avatar">
      <img *ngIf="user.avatar" class="avatarPos" [ngStyle]="{ 'background-image': 'url(' + user.avatar + ')'}">
      <br />
      <label class="mimi font-18 bold" (click)="changeAvatar()">Editar</label>
    </div>
  </div>
  <!-- FORMS -->
  <ion-grid padding class="mg-top-30 form-bg-light">
    <ion-row class="no-padding">
      <ion-item class="transparent-bg no-padding">
        <ion-icon name="person" item-start class="text-primary"></ion-icon>
        <ion-input [(ngModel)]="user.name" type="text" class="black bold"></ion-input>
      </ion-item>
    </ion-row>
  
    <ion-row class="no-padding mg-top-20">
      <ion-item class="transparent-bg no-padding">
        <ion-icon name="call" item-start class="text-primary"></ion-icon>
        <ion-input [(ngModel)]="user.telefone" type="text" class=" bold"></ion-input>
      </ion-item>
    </ion-row>
  
    <ion-row class="no-padding mg-top-20">
      <ion-item class="transparent-bg no-padding">
          <ion-icon name="mail" item-start class="text-primary"></ion-icon>
        <ion-input [(ngModel)]="user.email" type="text" class=" bold"></ion-input>
      </ion-item>
    </ion-row>
  
    <ion-row class="no-padding mg-top-20">
      <ion-item class="transparent-bg no-padding">
        <ion-icon name="lock" item-start class="text-primary"></ion-icon>
        <ion-input [(ngModel)]="user.pass" type="password" class=" bold"></ion-input>
      </ion-item>
    </ion-row>
  </ion-grid>
 </ion-content>
 
<ion-footer  class="transparent-bg bg-light ">
  <div  class="mg-left-10-percent "> 
    <ion-label padding class="no-margin  btnLeft  ">
        <ion-icon name="close" item-start class="text-primary " ></ion-icon>
      <b>Cancelar</b>
    </ion-label>
   </div>
   <div class="mg-left-50-percent" (click)="save()">
      <ion-label padding class="no-margin  btRight">
        <ion-icon name="done-all" item-end class="text-primary  " ></ion-icon>
        <b>Salvar</b>
      </ion-label>

   </div>
</ion-footer>