<ion-header>
  <ion-navbar color="rosa">
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Perfil</ion-title>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="user" padding>
  <!-- REFRESH -->
  <ion-refresher (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="no-padding">
    <img *ngIf="modal" src="assets/imgs/close-black.png" class="close" (click)="close()">
  </div>

  <div class="padding-20">
    <div class="center">
      <img *ngIf="!user.avatar" class="avatarPos avatar">
      <img *ngIf="user.avatar" class="avatarPos" [ngStyle]="{ 'background-image': 'url(' + user.avatar + ')'}">
      <button class="center"color="imperial" ion-fab mini (click)="changeAvatar()">
        <ion-icon padding name="md-camera"></ion-icon>
      </button>
    </div>
  </div>
  <!-- FORMS -->
  <ion-list class="mg-top-20">
    <ion-item padding>
      <ion-icon name="person" color="rosa" item-start></ion-icon>
      <ion-input [(ngModel)]="user.name" type="text" class="black bold"></ion-input>
      <ion-icon name="md-create" color="roxo" item-end></ion-icon>
    </ion-item>
  </ion-list>

  <ion-list class="no-margin">
    <ion-item padding>
      <ion-icon name="call" color="rosa" item-start></ion-icon>
      <ion-input  placeholder="Celular" [(ngModel)]="user.telefone" type="text" class="black bold"></ion-input>
      <ion-icon name="md-create" color="roxo" item-end></ion-icon>
    </ion-item>
  </ion-list>

  <ion-list class="no-margin">
    <ion-item padding>
      <ion-icon name="mail" color="rosa" item-start></ion-icon>
      <ion-input [(ngModel)]="user.email" type="text" class="black bold"></ion-input>
      <ion-icon name="md-create" color="roxo" item-end></ion-icon>
    </ion-item>
  </ion-list>
  <ion-list class="no-margin">
    <ion-item padding>
      <ion-icon name="lock" color="rosa" item-start></ion-icon>
      <ion-input [(ngModel)]="user.pass" type="password" class="black bold"></ion-input>
      <ion-icon name="md-create" color="roxo" item-end></ion-icon>
    </ion-item>
  </ion-list>
  <button class="mg-top-20 center" color="imperial" ion-button round (click)="save()">Salvar</button>
</ion-content>
