<ion-header>
  <ion-navbar color="rosa">
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Perfil</ion-title>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="user" padding>
  <!-- REFRESH -->
  <ion-refresher (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="no-padding">
    <img *ngIf="modal" src="assets/imgs/close-black.png" class="close" (click)="close()">
  </div>

  <div class="padding-20">
    <div class="center">
      <img *ngIf="!user.avatar" class="avatarPos avatar">
      <img *ngIf="user.avatar" class="avatarPos" [ngStyle]="{ 'background-image': 'url(' + user.avatar + ')'}">
      <button class="center" color="imperial" ion-fab  (click)="showactionsheet()">
        <ion-icon name="md-camera"></ion-icon>
      </button>
    </div>
  </div>
  <!-- FORMS -->
  <ion-list >
    <ion-item padding>
        <ion-label stacked class="eggshell">Seu nome</ion-label>
      <ion-icon name="person" color="rosa" item-start></ion-icon>
      <ion-input [disabled]="!editarNome" [(ngModel)]="user.name" type="text" class="black bold"></ion-input>
      <ion-icon name="md-create" (click)="alterarNome()" color="imperial" item-end></ion-icon>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item padding>
      <ion-label stacked class="eggshell">Seu e-mail</ion-label>
      <ion-icon name="mail" color="rosa" item-start></ion-icon>
      <ion-input [disabled]="!editaEmail" [(ngModel)]="user.email" type="text" class="black bold"></ion-input>
      <ion-icon name="md-create" (click)="alterarEmail()" color="imperial" item-end></ion-icon>
    </ion-item>
  </ion-list>

  <ion-list>
      <ion-item center>
        <ion-label stacked class="eggshell">Seu tipo de cabelo</ion-label>
        <ion-icon name="md-heart" color="rosa" item-start></ion-icon>
        <ion-select okText="Ok" cancelText="Cancelar" [(ngModel)]="user.cabelo">
          <ion-option>1</ion-option>
          <ion-option>2A</ion-option>
          <ion-option>2B</ion-option>
          <ion-option>2C</ion-option>
          <ion-option>3A</ion-option>
          <ion-option>3B</ion-option>
          <ion-option>3C</ion-option>
          <ion-option>4A</ion-option>
          <ion-option>4B</ion-option>
          <ion-option>4C</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>

  <ion-list>
    <button class="mg-top-20 center" color="imperial" ion-button full  (click)="alterarSenha()">Alterar senha</button>
  </ion-list>
  <button class="mg-top-20 center" color="imperial" ion-button full  (click)="save()">Salvar</button>
</ion-content>