@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Handlee|Pacifico');
@import url('https://fonts.googleapis.com/css?family=Patrick+Hand');

page-home {
    .slides{
        width:100%;
        height:100%;
    }
    .backCronograma {
      
        width:100%;
        height:100%;
    }
    .slides_content {
        background: linear-gradient(-45deg, #000, #E73C7E, #23A6D5, #23D5AB);
        background-size: 400% 400%;
        -webkit-animation: Gradient 15s ease infinite;
        -moz-animation: Gradient 15s ease infinite;
        animation: Gradient 15s ease infinite;
    }
    .swiper-pagination-bullet-active {
        background: white;
        opacity: 1;
    }
    .outer{
        bottom:60px;
    }
    .btn_go_login {
        background-color:$imperial;
        display: inline;
        bottom: 60px;
        color:$mimi;
    }
    .txt {
        top: 50px;
        position: absolute;
        left: 0;
        right: 0;
        color: $preto;
        font-family: "Patrick Hand", cursive !important;
        font-size: 21px;
    }
    .inner {
        top: 0;
        left: 0;
        right: 0;
        bottom: 5px;
    }
    .slideCronograma-subheader {
        background: $imperial;
        padding: 1px 20px;
        position: relative;
        padding-top: 5px;
    }
    .edit {
        position: absolute;
        right: 20px;
        top: 5px;
    }
    .slideItem {
        height: 70px;
        width: 70px;
        border-radius: 100px;
        border: 1.5px solid $imperial;
        background-size: cover;
        background-position: center center;
    }
    .slideContainer {
        display: inline-block;
        width: 70px
    }
    
}
//-------------Home-------------
.card-background-page {

    ion-card {
      position: relative;
      text-align: center;
      border-radius: 8px;
    }
    .card-title {
      position: absolute;
      top: 37%;
      font-size: 2.4em;
      width: 100%;
      font-weight: bold;
      color: #fff;
      font-family: 'Patrick Hand', cursive;

    }
    .card-title-nutrição {
        position: absolute;
        margin-left: 81px;
        top: 39%;
        font-size: 2.0em;
        width: 100%;
        font-weight: bold;
        color: #fff;
        font-family: 'Patrick Hand', cursive;
      }
      .card-title-reconstrução {
        position: absolute;
        margin-right: 401px;
        margin-left: -60px;
        top: 39%;
        font-size: 2.0em;
        width: 100%;
        font-weight: bold;
        color: #fff;
        font-family: 'Patrick Hand', cursive;
      }
      .card-subtitle-reconstrução {
        font-size: 1.0em;
        position: absolute;
        margin-right: 401px;
        margin-left: -60px;
        top: 65%;
        width: 100%;
        color: #fff;
        font-family: 'Sacramento', cursive;
      }
      .card-title-hidratação {
        position: absolute;
        margin-right: 401px;
        margin-left: -60px;
        top: 39%;
        font-size: 2.0em;
        width: 100%;
        font-weight: bold;
        color: #fff;
        font-family: 'Patrick Hand', cursive;
      }
      .card-subtitle-hidratação {
        font-size: 1.0em;
        position: absolute;
        margin-right: 401px;
        margin-left: -60px;
        top: 65%;
        width: 100%;
        color: #fff;
        font-family: 'Sacramento', cursive;
      }
    .rosa{
        background:$rosa;
    }
    .imperial{
        background:$imperial;
    }
    .roxo{
        background:$roxo;
    }

    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 62%;
      width: 100%;
      color: #fff;
      font-family: 'Sacramento', cursive;
    }
    .card-subtitle-nutrição {
        font-size: 1.0em;
        position: absolute;
        margin-left: 81px;
        top: 62%;
        width: 100%;
        color: #fff;
        font-family: 'Sacramento', cursive;
      }
    .btnProd{
        width:187px;
        height: 140px;
        background: $rosa;
        margin-left: 12px;
        border-radius: 6px;
    }
    .Prod-subtitle {
        font-size: 1.0em;
        position: absolute;
        top: 78%;
        width: 100%;
        color: #fff;
        font-family: 'Handlee', cursive;
      }
    .btnTempo{
        width:137px;
        height: 140px;
        background: $roxo;
        margin-left: 7px;
        border-radius: 6px;
    }
    .Tempo-subtitle {
        font-size: 1.0em;
        position: absolute;
        top: 78%;
        width: 100%;
        color:#fff;
        font-family: 'Handlee', cursive;
    }
    .btnCronograma{
        width:200px;
        height: 140px;
        background: $imperial;
        margin-left: 5px;
        border-radius: 6px;
        font-family: 'Handlee', cursive;
    }
    .btnPerfil{
        width:125px;
        height: 140px;
        background: $roxo;
        margin-left: 12px;
        border-radius: 6px;
        font-family: 'Handlee', cursive;
    }
    img.LogoImg {
        margin-right: 10px;
    }
}