page-calendario {
    // iPhone X
    @media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) { 
        .scroll-content {
            padding-top: 40px !important
        }
    }.linhaDescricaoMarcadores{
        width: 100%;
        max-height: 50px;
    }
    .marcadorHidratacao{
        background:#533c53;
        width: 20px;
        height: 15px;
        border-radius: 100%;

    }
    }