$font-path: "../assets/fonts";
$app-direction: ltr;

@import "ionic.globals";

$colors: (
  primary:    #A5668B,
  secondary:  #69306D,
  danger:     #e9e8e8,
  light:      #F2D7EE,
  dark:       #260C1A,
  white: #ffff,
  mimi:#F2D7EE,
  rosa:#A5668B,
  imperial:#69306D,
  roxo:#42033D,
  preto:#260C1A,
  amarelo:yellow,
);

//Paleta 
$eggshell: #F7F5DD;
$green: #1ebeb8;
$black: #363636;
$gray: #C6C6C6;

//PaletaOfc
$mimi:#F2D7EE;
$rosa:#A5668B;
$imperial:#69306D;
$roxo:#42033D;
$preto:#260C1A;
@import "ionic.theme.default";
@import "ionic.ionicons";
@import "roboto";
@import "noto-sans";
