// GLOBAL FONT
@import url('https://fonts.googleapis.com/css?family=Tajawal:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Questrial');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Gloria+Hallelujah|Indie+Flower|Macondo+Swash+Caps|Open+Sans+Condensed:300,700|Pacifico|Quicksand&display=swap');@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Indie+Flower|Macondo+Swash+Caps|Open+Sans+Condensed:300,700|Pacifico|Quicksand&display=swap');@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Indie+Flower|Macondo+Swash+Caps|Open+Sans+Condensed:300,700|Pacifico&display=swap');
* {
  font-family: 'Tajawal', sans-serif;
}
.text-justify{
  text-align:justify!important;
}
  .btnEnd{
          margin-left:90%;
          padding:0;
      }
    
.btn-imperial {
  background-color:$imperial;
  font-family: 'Segoe UI';
  font-size:16px;
  width: 100px !important;
  height:30px;
  margin-left:30%;
  color:$mimi;
    }
//minhas cores
.red{
  color:red;
}
.white{
  color:#ffffff;
}
.mimi {
  color: $mimi
}
.rosa {
  color: $rosa
}

.imperial {
  color:$imperial
}

.preto {
  color: $preto
}
//
.gray {
  color: $gray
}


.green {
  color: $green
}

.eggshell {
  color: $eggshell
}

.black {
  color: $black
}

.Meu{
 font-family: 'Gloria Hallelujah', cursive;
 color:$mimi;
 margin-left: 0px;
 font-size:30px;
 margin-top: -35px;
}
.Logotipo{
  font-family: 'Questrial', sans-serif;
  font-size:20px;
  color:$imperial;
}

//Font style
.bold {
  font-weight: 700
}

.regular {
  font-weight: 400
}
.font-14{
  font-size: 14px
}
.font-18{
  font-size: 18px
}

//Text align
.center {
  text-align: center
}

//Margin
.no-margin {
  margin: 0px !important
}
.mg-top-10-percent {
  margin-top: 10%
}
.mg-top-menos-50{
  margin-top:-50px;
}
.mg-top-menos-60{
  margin-top:-60px;
}
.mg-top-menos-40{
  margin-top:-40px;
}
.mg-top-menos-20{
  margin-top:-20px;
}
.mg-top-5-percent{
  margin-top:5%
}
.mg-top-20-percent {
  margin-top: 20%
}

.mg-top-30-percent {
  margin-top: 30%
}

.mg-top-40-percent {
  margin-top: 40%
}

.mg-top-0 {
  margin: 0px
}

.mg-top-5 {
  margin-left: 5px
}

.mg-top-10 {
  margin-top: 10px
}

.mg-top-15 {
  margin-top: 15px
}

.mg-top-20 {
  margin-top: 20px
}

.mg-top-40 {
  margin-top: 40px
}

.mg-top-60 {
  margin-top: 60px
}

.mg-top-30 {
  margin-top: 30px
}

.mg-left-10 {
  margin-left: 10px
}

.mg-left-20 {
  margin-left: 20px
}
.mg-left-10-percent{
  margin-left: 10%
}

.mg-left-50-percent{
  margin-left: 50%
}
.mg-bottom-20{
  margin-bottom:20px;
}
.mg-bottom-40{
  margin-bottom: 40px

}
//Padding
.no-padding {
  padding: 0px !important
}

.padding-20 {
  padding: 20px;
}

.padding-top-5 {
  padding-top: 5px !important;
}

.padding-bottom-0 {
  padding-bottom: 0px !important
}

//Background color
.transparent-bg {
  background: transparent !important
}

//Loading spinner
.loading-md .loading-wrapper {
  box-shadow: none
}

.loading-wrapper {
  background-color: transparent !important
}

.spinner {
  width: 40px;
  height: 40px;
  position: relative;
}

.double-bounce1,
.double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: $eggshell;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%,
  100% {
    -webkit-transform: scale(0.0)
  }
  50% {
    -webkit-transform: scale(1.0)
  }
}

@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  }
  50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

// Form for dark background
.form-bg-dark {
  .item {
    .item-inner {
      .label[stacked] {
        font-size: 1.7rem;
      }
    }
    &.input-has-focus {
      .item-inner {
        .label[stacked] {
          color: #ffffff;
        }
      }
    }
  }
}
// Animate CSS
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animated.infinite {
  animation-iteration-count: infinite;
}

.animated.hinge {
  animation-duration: 2s;
}

.animated.flipOutX,
.animated.flipOutY,
.animated.bounceIn,
.animated.bounceOut {
  animation-duration: .75s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInDown {
  animation-name: fadeInDown;
}
// for for light background
.form-bg-light {
  .item {
    .item-inner {
      .label[stacked] {
        font-size: 1.7rem;
        color: gray;
      }
    }
    &.input-has-focus {
      .item-inner {
        .label[stacked] {
          color: #333;
        }
      }
    }
  }
}
//calendario
.fill-height-or-more {
    min-height: 100%;
}

.flex-footer-pos {
    flex: 1 0 auto;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
}

.flex-1 {
    flex: 1;
}

.flex-left {
    -webkit-align-self: flex-start;
    align-self: flex-start;
}

.flex-column {
    -webkit-flex-direction: column;
    flex-direction: column;
}

.flex-center {
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.flex-center-horz {
    -webkit-justify-content: center;
    justify-content: center;
}

.flex-center-vert {
    -webkit-align-items: center;
    align-items: center;
}

.flex-left-row {
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}

.flex-right-row {
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

.flex-right-column {
    -webkit-align-items: flex-end;
    align-items: flex-end;
}

.flex-left-column {
    -webkit-align-items: flex-start;
    align-items: flex-start;
}

.flex-wrap {
    flex-wrap: wrap !important;
}

.flex-space-between-row {
    justify-content: space-between;
    -webkit-justify-content: space-between;
}

.flex-space-between-column {
    align-items: space-between;
    -webkit-align-itemst: space-between;
}

.width-half {
    width: 50%;
}

.width-5 {
    width: 5%;
}

.width-10 {
    width: 10%;
}

.width-20 {
    width: 20%;
}

.width-25 {
    width: 25%;
}

.width-30px {
    width: 30px;
}

.width-30 {
    width: 30%;
}

.width-40 {
    width: 40%;
}

.width-60 {
    width: 60%;
}

.width-70 {
    width: 70%;
}

.width-75 {
    width: 75%;
}

.width-80 {
    width: 80%;
}

.width-90 {
    width: 90%;
}

.width-full {
    width: 100% !important;
}

.width-auto {
    width: auto;
}

.purple-bkgrd {
    background: #752c8f;
}

.text-fade {
    opacity: 0.4;
    color: #fff;
}

.white-Text {
    color: #fff;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.marg-left-20 {
    margin-left: 20px;
}

.marg-left-35 {
    margin-left: 35px;
}

.marg-right-25 {
    margin-right: 25px;
}

.width-25 {
    width: 25%;
}

.width-100 {
    width: 100%;
}

.height-10 {
    height: 10%;
}

.height-20px {
    height: 20px;
}

.height-15 {
    height: 15%;
}

.height-20 {
    height: 20%;
}

.height-30 {
    height: 30%;
}

.height-25 {
    height: 25%;
}

.height-50 {
    height: 50%;
}

.height-70 {
    height: 70%;
}

.height-75 {
    height: 75%;
}

.height-80 {
    height: 80%;
}

.height-100 {
    height: 100%;
}