page-intro {
    .slides{
        overflow:auto!important
    }
    .left{
        margin-left:20% !important;
    }
    .slide_image{
        min-height:80%;
        height: auto;
    }
    .slides_content {
        background: linear-gradient(-45deg, #000, #E73C7E, #23A6D5, #23D5AB);
        background-size: 400% 400%;
        -webkit-animation: Gradient 15s ease infinite;
        -moz-animation: Gradient 15s ease infinite;
        animation: Gradient 15s ease infinite;
    }
    .swiper-pagination-bullet-active {
        background: white;
        opacity: 1;
    }
    .outer{
        bottom:60px;
    }
    .btn_go_login {
        background-color:$imperial;
        display: inline;
        bottom: 60px;
        color:$mimi;
    }
    .txt {
        top: 30px;
        position: absolute;
        left: 0;
        right: 0;
        color: $preto;
        font-family: "Patrick Hand", cursive !important;
        font-size: 21px;
    }
    .inner {
        top: 0;
        left: 0;
        right: 0;
        bottom: 5px;
    }
    .slideCronograma-subheader {
        background: $imperial;
        padding: 1px 20px;
        position: relative;
        padding-top: 5px;
    }
    .edit {
        position: absolute;
        right: 20px;
        top: 5px;
    }
    .slideItem {
        height: 70px;
        width: 70px;
        border-radius: 100px;
        border: 1.5px solid $imperial;
        background-size: cover;
        background-position: center center;
    }
    .slideContainer {
        display: inline-block;
        width: 70px
    }
    .swiper-pagination-bullet-active {
        background: $rosa;
        opacity: 1;
    }
}
