<ion-header>

  <ion-navbar padding color="imperial">
    <ion-title>QUIZ</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="slides">

  <ion-content padding class="backCronograma">
    <ion-slides #slides>
      <ion-slide>
        <h4 padding class="text-justify"><small class="Logotipo">
          Para iniciar é necessário reponder um quiz 
          para que possamos identificar o melhor cronograma para seu fio:</small> </h4>
          <br/>
          <p  class="text-justify">Caso já tenha respondido clique em iniciar no app ou refaça o quiz para um novo cronograma</p>
          <br/>
          <br/>

          <small  padding class="Logotipo text-justify">OBS:</small>
            <p  class="text-justify">
              Se você iniciar sem responder o quiz, nós iremos gerar um cronograma de hidratação.
            </p>
        <div class="mg-top-10">
          <button ion-button color="secondary" (click)="Quiz()"  full>Iniciar o quiz</button>
        </div>
        
        <div class="mg-top-10">
          <button ion-button color="secondary" (click)="App()" full>Iniciar no app</button>
        </div>

      </ion-slide>
      <ion-slide class="slide_image" padding>
        <h3 class="txt">Qual o seu <small class="Logotipo">TIPO</small> de cabelo?</h3>
        <form>
          <div class="mg-top-10">
            <button ion-button color="secondary"  (click)="Liso()"  full>Liso</button>
          </div>

          <div class="mg-top-10">
            <button ion-button color="secondary"  (click)="Ondulado()" full>Ondulado</button>
          </div>

          <div class="mg-top-10">
            <button ion-button color="secondary"  (click)="Cacheado()" full>Cacheado</button>
          </div>

          <div class="mg-top-10">
            <button ion-button color="secondary"  (click)="Crespo()" full>Crespo</button>
          </div>

          <div class="mg-top-10">
            <button ion-button color="secondary" (click)="Transicao()" full>Transição</button>
          </div>
         </form>
      </ion-slide>
      <ion-slide *ngIf="teste-porosidade" class="slide_image" padding>
        <h3 class="txt mg-top-20">Como montar meu <small class="Logotipo">cronograma capilar</small>?</h3>
        <small class="Logotipo bold">Teste de porosidade</small>
        <p>Você pode descobrir se seu cabelo precisa de hidratação, nutrição ou reconstrução por meio de um teste de
          porosidade. Para isso, coloque um pouco de água em um recipiente transparente e, em seguida, coloque um fio
          do
          seu cabelo na água. Por fim, é só analisar o resultado.</p>

      </ion-slide>

      <ion-slide class="slide_image">

        <p class="mg-top-menos-50">
          <small class="Logotipo bold">Teste de porosidade</small><br>
          <p>Se seu cabelo boiar,
            ele precisa de <small class="Logotipo">hidratação.</small></p>

          <p>Se seu cabelo não afundar nem boiar,
            ele precisa de <small class="Logotipo">nutrição.</small></p>

          <p>Se seu cabelo afundar,
            ele precisa de <small class="Logotipo">reconstrução.</small></p>

          <div class="center mg-top-10">
            <img src="./assets/imgs/teste-de-porosidade.jpg" class="logo-white-login">
          </div>
          <div>
              <button ion-button color="secondary" outline (click)="VoltarSlide()" class="mg-top-20">
                Voltar
              </button>
            <button class="mg-top-20" padding ion-button color="secondary" (click)="Continuar()" outline>
              Continuar
            </button>
           </div>
      </ion-slide>

      <ion-slide class="slide_image" padding>
        <h3 class="txt mg-top-menos-30">Com base no seu <small class="Logotipo">teste de porosidade</small>, o que seu
          cabelo
          mais precisa?</h3>
        <div *ngIf="hidratacao" class="mg-top-10">
          <button ion-button color="secondary" (click)="CronogramaHidratacao()" full>Hidratação</button>
        </div>

        <div *ngIf="nutricao" class="mg-top-10">
          <button ion-button color="secondary" (click)="CronogramaNutricao()" full>Nutrição</button>
        </div>

        <div *ngIf="reconstrucao" class="mg-top-10">
          <button ion-button color="secondary" (click)="CronogramaReconstrucao()" full>Reconstrução</button>
        </div>
        <div>
          <button ion-button color="secondary" outline (click)="VoltarSlide()" class="mg-top-40">
            Voltar
          </button>
          <button ion-button color="secondary" outline (click)="abrirCronograma()" class="mg-top-40">
            Iniciar
          </button>
        </div>

      </ion-slide>
    </ion-slides>
  </ion-content>
</ion-content>