page-sobre {
    .tamanho{
        min-height:100%;
        height: auto;
    }
    .titulo{
        font-size: 18px;
    }
    .texto{
    color:#000;
    font-size: 12px;
    text-align: justify;
}
}
