<ion-header>

  <ion-navbar color="rosa">
    <ion-title>Cadastrar produtos</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

    <div  class="center">
        <img *ngIf="!produto.imgProduto" class="produto">
        <img *ngIf="produto.imgProduto" class="produto" [ngStyle]="{ 'background-image': 'url(' + produto.imgProduto + ')'}">
          <button class="center" color="imperial" ion-fab mini (click)="imagemProduto()">
            <ion-icon padding name="md-camera" item-end></ion-icon>
          </button>
    </div>
  <form [formGroup]="form">
    <ion-list>
      <ion-item>
        <ion-label color="primary" stacked>Nome do produto</ion-label>
        <ion-input type="text" formControlName="nome" [(ngModel)]="form.nome"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" stacked>Marca</ion-label>
        <ion-input type="text" formControlName="marca" [(ngModel)]="form.marca"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="primary">Tipo</ion-label>
        <ion-select formControlName="tipo" [(ngModel)]="form.tipo">
          <ion-option value="hidratacao">Hidratação</ion-option>
          <ion-option value="nutricao">Nutrição</ion-option>
          <ion-option value="reconstrucao">Reconstrução</ion-option>
          <ion-option value="finalizacao">Finalização</ion-option>
          <ion-option value="outros">Outros</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </form>
  <ion-item>
    <ion-label color="primary" stacked>Observação</ion-label>
    <ion-input type="textarea" [(ngModel)]="produto.obs"></ion-input>
  </ion-item>
  
  <button class="mg-top-40 center" color="imperial" ion-button block [disabled]="!form.valid" (click)="cadastrar()" >Cadastrar</button>
</ion-content>