page-cadastrar-produtos {
    .avatar {
        background-color:$imperial;
    }

    .avatarPos {
        background-size: cover;
        background-position: center center;
        height: 150px;
        width: 150px;
        border: 3px solid #69306D;
        border-radius: 100px;
    }

}
