@import url('https://fonts.googleapis.com/css?family=Patrick+Hand');
page-temporizador {
   /* .bg
    {
        background-image: radial-gradient(circle, #f2d7ee, #c4a0bf, #976b91, #6c3966, #42033d) !important; 
        border: 2px dotted white;
        border-radius:30%;  
    }*/
    .circleTemp{
        width:80%;
        height:80%;
        margin-left: 5%;
        justify-content: center;
        text-align: center;
    }
    .btnTemp{
        background-color:$rosa!important;
        width: 70px;
        height: 50px;
        border-radius:2px;
        margin-bottom: 20px;
        margin-left: 5%;
        margin-bottom: 20px;
    }
    p.bold {
        font-size:19px;
        color:$rosa;
        text-align:center;
        font-family: "Patrick Hand", cursive !important;
    }
    .left{
        float: left;
    }
    .right{
        float: right;
    }
}
