page-produto {
    .searchbar-md {
        background-color: $imperial;
    }
    .options{
        margin-left:170px;
        margin-right:-40px;
        margin-top:-85px;
      }
      .divTamanho{
        padding: none;
        overflow: auto!important;
    
      }
      .btnEnd{
          margin-left:90%;
          padding:0;
      }
      .tamanhoIcon{
        font-size:24px;
      }
}
