<ion-header >

  <ion-navbar color="imperial">
    <ion-title>Meus produtos</ion-title>
  </ion-navbar>
  
  <ion-searchbar placeholder="Pesquisar" (ionInput)="getItems($event)"></ion-searchbar>
  <!--<ion-list>
      <ion-item *ngFor="let item of items">
        {{ item }}
      </ion-item>
    </ion-list>
-->
</ion-header>

<ion-content padding>
    <ion-list>
        <button ion-item *ngFor="let item of produtos" (click)="abreDetalhe(item)">
            {{ item.nome }}<br>
            {{ item.tipo }}<br>
            {{ item.marca }}
            <ion-icon color="imperial" name="md-eye" item-end></ion-icon>
        </button>
      </ion-list>
</ion-content> 